@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.add-recipe-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
}
.add-recipe-img {
  position: sticky;
  top: 0;
  width: 40rem;
}
.recipe-form {
  padding: 1rem;
}
.middle-box {
  margin: 0 1rem;
}
.add-recipe-btn {
  margin-left: 20rem;
  margin-top: 1rem;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  border: none;
}
.add-recipe-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.add-group {
  display: flex;
  justify-content: space-between;
}
.type-diet {
  width: 10.9rem;
}

.type-cuisine,
.type-diet option {
  color: lightgray;
  background-color: #414141;
}
.recipe-form label {
  color: #a40606;
}
.ingredient,
.step {
  animation: FadeIn 1.5s ease;
}
.plus-btn {
  background-color: #414141;
  border: none;
  transition: 0.5s;
  outline: none;
}
.plus-btn img {
  max-width: 1.2rem;
}
.plus-btn:hover {
  background-color: darkcyan;
}
.add-ingredient-btn {
  width: 100%;
  margin-bottom: 1rem;
  color: lightgray;
  background-color: #414141;
  font-size: 1.3rem;
}
.add-ingredient-btn:active {
  background-color: darkcyan !important;
}
.add-ingredient-btn img {
  max-width: 2.2rem;
  margin-left: 1rem;
}
.steps-btn img {
  margin-left: 4rem;
}
.add-ingredient-btn:hover {
  background-color: #227e79;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: center right calc(0.335em + 0.7875rem);
}
form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.7875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.upload-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload-img > img {
  max-width: 20rem;
}
/* .upload-img input {
  position: relative;
  top: -2rem;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  cursor: pointer;
} */
.file {
  padding: 0rem 0.5rem;
  border-radius: 0.1rem;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  cursor: pointer;
}
.file:hover {
  letter-spacing: 0.1rem;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 80rem) {
  .add-recipe-img {
    display: none;
  }
}
