.signup-form-wrapper {
    display: flex;
    flex-direction: column;
}

.signup-form-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    margin-top: 20px;
    width: 35%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 33px;
    background-color: lightgray;
}

#profile-image-signup {
    width: 95%;
    margin-left: 14px;
    margin-top: 5px;
}

.button-container-signup {
    margin-top: 30px;
}

.button-container-signup button {
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 15px 10px;
    border: none;
}

#disclaimer {
    font-size: 13px;
    margin-top: 15px;
}