.types-of-cuisines-wrapper {
  display: flex;
  justify-content: center;
}

.types-of-cuisines-main-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
}

.types-of-cuisines-list {
  list-style-type: none;
}

.types-of-cuisines-modal li {
  display: inline-block;
}

.types-of-cuisines-modal input[type="checkbox"][id^="cb"] {
  display: none;
}

.cuisine-types-container span {
  text-align: center;
  padding-top: 5px;
  color: lightgray;
}
  
.types-of-cuisines-modal label {
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.types-of-cuisines-modal label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
  
.types-of-cuisines-modal label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  width:  80px;
  height: 80px;
  object-fit: cover;
}
  
.types-of-cuisines-modal :checked+label {
  border: none;
}

.types-of-cuisines-modal :checked+label::before {
  content: "✓";
  background-image: linear-gradient(315deg, #e8c99b 0%, #E96156 74%);
  transform: scale(1);
  border: none;
}

.types-of-cuisines-modal :checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #E96156;
}