/* @font-face {
    font-family: "CulinaryArt";
    src: local("CulinaryArt"), url(../fonts//CulinaryArt.ttf) format("truetype");
}

@font-face {
    font-family: "DjKitchen";
    src: local("DjKitchen"), url(../fonts//DjKitchen.ttf) format("truetype");
}

@font-face {
    font-family: "LcrKitchen";
    src: local("LcrKitchen"), url(../fonts//LcrKitchen.ttf) format("truetype");
} */

.profile-settings-pagewrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.profile-settings-pagewrapper h4 {
    text-align: center;
    padding: 50px 0;
    font-family: "Trajan";
}

.profile-settings-form {
    width: 60%;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: none;
}

.country-select-container select {
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    width: 49.6%;
    color: #606060;
}

.edit-avatar-container {
    display: flex;
    justify-content: center;
    align-items: row;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 30px;
    padding: 8px;
}

.file-input-edit-avatar {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#culinary-preferences {
    margin-top: 30px;
}

.diets-container {
    display: inline-block;
    width: 50%;
}

.preferences-container {
    display: flex;
}

#diets-checkbox-column {
    margin-top: 8px;
}



.diet-images {
    float: left;
    width:  30px;
    height: 30px;
    object-fit: cover;
    margin: 0 5px;
    padding: 2px;
}
.diet-images :checked::before {
    content: "✓";
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    transform: scale(1);
    border: none;
}
.diet-images :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px orange;
}


.special-diets-container {
    display: flex;
    flex-direction: row;
}

.special-diets-container span {
    text-align: center;
    padding-top: 5px;
}

.special-diets label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.special-diets label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.special-diets-img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    width:  30px ;
    height: 30px ;
    object-fit: cover;
}
.special-diets :checked+label {
    border: none;
}

.special-diets :checked+label::before {
    content: "✓";
    background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    transform: scale(1);
    border: none;
}

.special-diets :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px orange;
}



.culinary-level-form-container {
    display: inline-block;
    width: 50%;
    padding-top: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    background-color: black;
    padding: 9px;
    border: none;
}

.button-container button:hover {
    background-color: red;
    border: none;
}

[disabled]{
    background-color: none;
    border: none;
}