@font-face {
    font-family: "Trajan";
    src: local("Trajan"), url(../fonts//Trajan.ttf) format("truetype");
}

.recipeTitle{
    font-family: "Trajan";
}

.recipePage{
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

.titleBox{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    
}

.likeBox{
    display: inline-flex;
    background-color: #F05163;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: .5rem 1rem;
    align-items: center;
    margin-top: 1rem;
    border: none
}

.desc{
    width: 60%;
    font-size: 18px;
    margin-top: 2rem;
}

.cal{
    font-size: 16px;
    margin-top: 2rem;
    color: rgb(146, 146, 146);
    border-left: 1px solid crimson;
    padding: 1rem 2.5rem;
}

.clock{
    border-left: none;
}

.topic{
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2rem 0;
}

.recipeImage{
    max-width: 400px;
    max-height: 300px;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 10px;
}

.imageBox{
    background-color: #F7EDE0;
    width: 400px;
    height: 500px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.textBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.textRight{
    width: 30%;
    margin: 1rem 0 1rem 2rem;
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

.textLeft{
    width: 70%;
    margin: 1rem 2rem 1rem 0;
}

.ing{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-top: 1rem;
}

ol{
    padding-left: 1rem;
}

.step{
    margin-top: 1rem;
}

.cuisineImg{
    border-radius: 100%;    
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    width:  75px;
    height: 75px;
    object-fit: cover;
}

.cuisineBox{
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
}

.cuisineAndLike{
    margin-top: 1rem;
    display: inline-flex;
    flex-flow: column nowrap;
}